{% set alfresco = salt['grains.filter_by']({
  'default': {
    'dist_url': 'http://dl.alfresco.com/release/community/build-04576/alfresco-community-4.2.c.zip',
    'dist_hash': 'md5=67d79b85a2b7c3c842d6f458482d9e12',
    'dist_root': '/opt/alfresco-community-4.2.c',
    'db': {
      'host': 'localhost',
      'database': 'alfresco',
      'username': 'alfresco',
      'password': 'alfresco',
      'port': '5432',
    },
    'tomcat_context': '',
    'admin_password': 'admin',
    'installer': 'http://dl.alfresco.com/release/community/build-04576/alfresco-community-4.2.c-installer-linux-x64.bin',
    'installer_hash': 'md5=47e93ff17df3f39c35720c3946c7b498',
    'installdir': '/opt/alfresco-4.2.c',
    'tomcat_user': 'tomcat7',
    'tomcat_root': '/usr/share/tomcat7',
  },
}, merge=salt['pillar.get']('alfresco:lookup')) %}
